<!DOCTYPE html>
<html>

<head>
  <title>K6 Summary Report</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="jumbotron jumbotron-fluid bg-white">
      <div class="container">
        <h1 class="display-4">K6 Summary Report</h1>
        <p class="lead">Powered by k6-html-reporter</p>
      </div>
      <ul>
        <%for (var group in groups){%>
        <li>
          <label>asd</label>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>